
:root {
  --fast: #0cce6b;
  --avg: #ffa400;
  --slow: #ff4e42;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.lh-gauge__wrapper {
  margin: 24px 0 12px 0;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  padding: 8px;
  contain: content;
  will-change: opacity;
}


.lh-gauge__text {
  font-size: 20px;
  line-height: 1;
  color: #000;
  text-align: center;
  margin-top: 10px;
}

.is--fast {
  color: var(--fast);
  fill: var(--fast);
  stroke: var(--fast);
}

.is--avg {
  color: var(--avg);
  fill: var(--avg);
  stroke: var(--avg);
}

.is--slow {
  color: var(--slow);
  fill: var(--slow);
  stroke: var(--slow);
}

.svg-circle {
  opacity: 0.1;
  stroke-width: 8;
}

.svg-circle__arc {
  fill: none;
  stroke-width: 8;
}

.stroke--slow {
  stroke: var(--slow);
}

.stroke--avg {
  stroke: var(--avg);
}

.stroke--fast {
  stroke: var(--fast);
}
