doctype html
html(lang="id")
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name="viewport", content="initial-scale=1, minimum-scale=1, maximum-scale=7, user-scalable=yes, width=device-width, shrink-to-fit=no")
		link(rel="preconnect dns-prefetch" href="https://unpkg.com" crossorigin="")
		//- link(rel='preconnect dns-prefetch', href='https://www.google-analytics.com'  crossorigin="")
		link(rel="stylesheet", href="https://unpkg.com/papercss@1.6.1/dist/paper.min.css")
		title Web Perf E-Commerce ID

		meta(name='description', content='Web Perf Comparison for E-Commerce in Indonesia')
		meta(property='og:site_name', content='mazipan')
		meta(property='og:type', content='website')
		meta(property='og:title', content='Web Perf E-Commerce ID')
		meta(property='og:description', content='Web Perf Comparison for E-Commerce in Indonesia')
		meta(property='og:url', content='https://mazipan.github.io/webperf-ecommerce-id')
		meta(property='og:image:width', content='1200')
		meta(property='og:image:height', content='630')
		meta(property='article:publisher', content='https://www.facebook.com/mazipanneh')

		meta(name='twitter:card', content='summary_large_image')
		meta(name='twitter:title', content='Web Perf E-Commerce ID')
		meta(name='twitter:description', content='Web Perf Comparison for E-Commerce in Indonesia')
		meta(name='twitter:url', content='https://mazipan.github.io/webperf-ecommerce-id')
		meta(name='twitter:site', content='mazipan')
		meta(name='theme-color', content='#212121')

		// Global site tag (gtag.js) - Google Analytics
		//- script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-97096911-1")
		//- script.
		//- 	window.dataLayer = window.dataLayer || [];
		//- 	function gtag(){dataLayer.push(arguments);}
		//- 	gtag('js', new Date());
		//- 	gtag('config', 'UA-97096911-1');

		style.
			body, html {
				height: 100%;
				margin: 0;
			}
			.hero-image {
				min-height: 80vh;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				position: relative;
				background-color: #212121;
			}
			.hero-text {
				text-align: center;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: white;
			}
			.hero-text button {
				border: none;
				outline: 0;
				display: inline-block;
				padding: 10px 25px;
				color: black;
				background-color: #ddd;
				text-align: center;
				cursor: pointer;
			}
			.hero-text button:hover {
				background-color: #555;
				color: white;
			}
			.capitalize {
				text-transform: capitalize;
			}

	body
		.hero-image
			.hero-text
				h1 Web Perf E-Commerce ID
				a(href="https://github.com/mazipan/webperf-ecommerce-id", target="_blank", rel="noopener", title="Github")
					button Github Repository

		div#chartDesktop.row.flex-center(width="100%", height="500")
		div#chartMobile.row.flex-center(width="100%", height="500")

		footer.row.flex-center.margin
			.text-center
				span
				| Menemukan bug? atau ingin berkontribusi?
				| kunjungi&nbsp;
				a(href="https://github.com/mazipan/webperf-ecommerce-id", target="_blank", rel="noopener", title="Github") Github repository
		footer.row.flex-center
			.text-center
				span Crafted with ❤️ by Irfan Maulana, © 2020

		script.
			var __data = JSON.parse('!{JSON.stringify(d)}');
		script(src="https://cdn.jsdelivr.net/npm/apexcharts")
		script(src="./chart.js")
